<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- font awesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!--fonts   -->
    @Styles.Render("~/WebDTCSS")
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
    @Scripts.Render("~/WebDTCSSJ1")
    <title>Home</title>
</head>
<body>
    <div class="main-container contact-color">
        <div class="inside-container ">
            <div class="row row-spc">
                <div class="col-md-12  col-disp">
                    <div class="icon-scp">
                        <div class="left-side">
                            <a class="link-head " href="#"><i class="fas fa-phone fa-rotate-90"></i>  +(84) 909 808 777</a> <span>|</span>
                            <a class="link-head " href="#"><i class="far fa-clock"></i> Sun-Mon: 9.00AM to 10.00PM</a> <span>|</span>
                            <a class="link-head " href="https://mail.google.com/"><i class="far fa-envelope "> </i> WebBanGiay@gmail.com </a>
                        </div>
                    </div>
                    <div class="ml-auto icon-scp">
                        <i class="fab fa-facebook-f "></i>
                        <i class="fab fa-twitter icon-scp"></i>
                        <i class="fab fa-pinterest-p icon-scp"></i>
                    </div>
                    @if ((Session["TaiKhoan"] == null) || (Session["TaiKhoan"].ToString() == ""))
                    {
                        <div class="DangKyDangNhap; ml-auto icon-scp">
                            <i class="fa fa-plus-square-o" aria-hidden="true"></i>
                            <a href="@Url.Action("DangKy","NguoiDung")">Đăng ký</a>
                            <i class="fa fa-sign-in" aria-hidden="true"></i>
                            <a href="@Url.Action("DangNhap","NguoiDung")">Đăng nhập</a>
                        </div>
                    }
                    else
                    {
                        <div class="DangKyDangNhap">
                            @Html.Action("NguoiDungPartial", "NguoiDung")
                        </div>

                    }
                </div>
            </div>
        </div>
    </div>
    <!--menu-->
    <div class="main-container nav-bg-color">
        <div class="inside-container nav-contain">
            <nav class="navbar navbar-expand-lg navbar-light ">
                <img src="~/image/logo-dt.png" class="img-fluid" alt="">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav nav-list ml-auto">
                        <a class="menu" href="~/Home/Index">Home</a>
                        <a class="menu" href="~/DienThoai/DienThoaiMoiPartial">Giày</a>
                        <a class="menu" href="/Loai/DanhMucLoai">Dép</a>
                        <a class="menu" href="/NhaCungCap/DanhMucNCC">Áo</a>
                        <a class="menu" href="/NhaXuatBans/Index">Phụ kiện</a>
                        <a class="menu" href="#">Tin tức</a>
                        <span class="menu last-spc color-line"> | </span>
                        <a class="menu icon-color last-spc" @Html.Action("GioHangPartial", "GioHang")</a>
                        <table @*class="table table-bordered"*@>
                            <tbody>
                                <tr>
                                    @using (Html.BeginForm("KetQuaTimKiem", "TimKiem", FormMethod.Post))
                                    {
                                        <td align="center" width="200px">@Html.TextBox("txtTimKiem", "", htmlAttributes: new { @class = "TextBoxTimKiem", @placeholder = "Tìm kiếm giày" })</td>
                                        <td><button style="background:#FF69B4 ;height:30px" type="submit" class="btn btn-primary ml-3">Search</button></td>
                                    }
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    @RenderBody()
    <footer class="page-footer footer-bg">
        <div class="inside-container">
            <div class="row footer-padd">
                <div class=" col-sm-6 col-lg-3 foot-col-padd">
                    <div class="dream-text">
                        <p>Chúng tôi rất hân hạnh được phục vụ các bạn bởi các dịch vụ tốt nhất của mình và không ngừng cải thiện đem lại sự thuận tiện và thoải mái nhất dành cho khách hàng.</p>
                    </div>
                    <div>
                        <i class="fab fa-facebook-f foot-icon "></i>
                        <i class="fab fa-twitter foot-icon "></i>
                        <i class="fab fa-pinterest-p foot-icon "></i>
                    </div>
                </div>
                <div class=" col-sm-6 col-lg-3 pop-col">
                    <span>Thông tin</span>
                    <hr>
                    <div class="row">
                        <div class="col-6 pop-link">
                            <a href="@Url.Action("Index","Home")">Giày</a>
                            <a href="@Url.Action("DanhMucLoai","Loai")">Danh mục</a>
                        </div>
                        <div class=" col-6  pop-link">
                            <a href="#">About Us</a>
                            <a href="#"> blog</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6  col-lg-3 pop-col">
                    <span>Tin tức</span>
                    <hr>
                    <div class="row ltl-blog row-ltl-blog">
                        <div class="col-3"> <img src="~/image/rf-iphone-12-banner.jpg" alt="" class="blog-img"></div>
                        <div class="col-9 max-award">
                            <p>Giày bán chạy nhất năm 2020.</p>
                            <i class="far fa-heart blog-icon"></i> <span> 45 </span>  <span class="blog-vl"> | </span>
                            <i class="far fa-comment blog-icon"></i><span> 34 </span>
                        </div>
                    </div>
                    <hr class="recent-hr">
                    <div class="text-center"><a href="#" class="view-blog"> view blog</a> </div>
                </div>
                <div class="col-sm-6 col-lg-3 pop-col ">
                    <span>Liên Hệ Chúng Tôi</span>
                    <hr>
                    <div class="row contact-row-margin">
                        <i class="fas fa-map-marker-alt contact-icon"></i>
                        <p>HUFLIT, 155 Sư Vạn Hạnh, P12, <br> Q10, HCM.</p>
                    </div>
                    <div class="row contact-row-margin">
                        <i class="fas fa-phone fa-rotate-90 contact-icon"></i>
                        <p> +(84) 090 808 777</p>
                    </div>
                    <div class="row contact-row-margin">
                        <i class="far fa-envelope contact-icon "> </i>
                        <p> WebBanGiay@gmail.com</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.js"></script>
    <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
    <script src="js/script.js"></script>
</body>
</html>
